<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Firebase sample app</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-promise/4.1.1/es6-promise.auto.min.js" integrity="sha256-OI3N9zCKabDov2rZFzl8lJUXCcP7EmsGcGoP6DMXQCo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.4/fetch.min.js" integrity="sha256-eOUokb/RjDw7kS+vDwbatNrLN8BIvvEhlLM5yogcDIo=" crossorigin="anonymous"></script>
</head>
<body>
    <h1>Firebase sample app</h1>

    <form id="newOrderForm">
        <p>Create order</p>
        <label>
            Order text:
            <input type="text" id="orderText">
        </label>
        <button type="submit">Create Order</button>
    </form>

    <hr>

    <ul>
         {{#each orders}}
             <li>{{order}}</li>
         {{/each}}
    </ul>

    <script>
        var orderTextInput = document.querySelector('#orderText');

        document.querySelector('#newOrderForm').addEventListener('submit', function (ev) {
            ev.preventDefault();

            fetch('/orders/' + encodeURIComponent(orderTextInput.value.trim()), {
                method: 'POST',
                redirect: 'follow'
            })
            .catch(alert);
        });
    </script>
</body>
</html>